[submodule "RoutePlanning"]
	path = RoutePlanning
	url = https://github.com/appinho/RoutePlanning
[submodule "SystemMonitor"]
	path = SystemMonitor
	url = https://github.com/appinho/SystemMonitor
[submodule "MemoryManagementChatbot"]
	path = MemoryManagementChatbot
	url = https://github.com/appinho/MemoryManagementChatbot
[submodule "ConcurrentTrafficSimulation"]
	path = ConcurrentTrafficSimulation
	url = https://github.com/appinho/ConcurrentTrafficSimulation
[submodule "Capstone"]
	path = Capstone
	url = https://github.com/appinho/Capstone
